{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}

    <article class="{{post_class}} single-post">
        {{> "post-header"}}

        <div class="post-content gh-content gh-canvas">
            {{content}}
        </div>
    </article>

    {{#if @custom.show_author}}
        {{> "author-box"}}
    {{/if}}

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>
</div>